# .env file
# This file contains environment variables used for configuring the ASA device.

# HOSTNAME: Specifies the hostname or IP address of the ASA device.
HOSTNAME=your-asa-device

# PORT: Specifies the port number to connect to the ASA device.
PORT=22

# USERNAME: Specifies the username for authentication with the ASA device.
USERNAME=admin

# PASSWORD: Specifies the password for authentication with the ASA device.
PASSWORD=yourpassword

# DOMAIN: Specifies the domain for the ASA device. If a domain is provided, there is no need to provide the --domain flag when running the script. The --domain flag will always override the value set in this environment variable.
DOMAIN=example.com
# .env file
